{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <center><h1 class="mb-4">Add a New Pet</h1></center>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('main.add_pet') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Pet Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="animal">Animal-breed</label>
                    <input type="text" class="form-control" id="animal" name="animal" required>
                </div>
                <div class="form-group">
                    <label for="animal">Age</label>
                    <input type="text" class="form-control" id="age" name="age" required>
                </div>
                <div class="form-group">
                    <label for="animal">Allergies</label>
                    <input type="text" class="form-control" id="allergies" name="allergies" required>
                </div>
                <div class="form-group">
                    <label for="file">Pet Pic: </label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Add Pet</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
